@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto;
  color: var(--dark-grey);
  font-size: 14px;
  letter-spacing: 0.03em;
}

body.modal-menu-open {
  overflow: hidden;
}

.conteiner {
  min-width: 320px;
  max-width: 480px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 769px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1201px) {
  .conteiner {
    max-width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  letter-spacing: 0.02em;
}

.conteiner--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
@media screen and (min-width: 769px) {
  .conteiner--flex {
    height: 80px;
  }
}
@media screen and (min-width: 1201px) {
  .conteiner--flex {
    justify-content: flex-start;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .header-nav {
    justify-content: left;
    width: auto;
  }
}

/*  start stilng logo  */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1201px) {
  .logo {
    font-size: 26px;
  }
}

.logo--blue {
  color: #2196f3;
}

.logo--black {
  color: #000000;
}

.logo:focus {
  outline: 1px solid #2196f3;
  border-radius: 2px;
}

/* end stiling logo */
.button-burger-menu {
  display: block;
  border: none;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .button-burger-menu {
    display: none;
  }
}

/* <!-- ГЛАВНАЯ НАВИГАЦИЯ --> */
.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-left: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}

.navigation__item {
  position: relative;
}

.navigation__link {
  font-weight: 500;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}

.navigation-link--activ {
  color: #2196f3;
}

.navigation__link.navigation-link--activ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  display: inline-block;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
.navigation__link.navigation-link--activ:focus {
  outline: 1px solid #2196f3;
  border-radius: 2px;
}

.navigation__link.navigation-link--nonactiv::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  display: inline-block;
  height: 4px;
  transform-origin: left;
  background-color: #2196f3;
  border-radius: 2px;
  transform: scalex(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link.navigation-link--nonactiv:hover {
  color: #2196f3;
}
.navigation__link.navigation-link--nonactiv:focus {
  outline: 1px solid #2196f3;
  border-radius: 2px;
}

.navigation__link.navigation-link--nonactiv:hover::after,
.navigation__link.navigation-link--nonactiv:focus::after {
  transform: scalex(1);
}

/* <!-- БЛОК С КОНТАКТАМИ В ШАПКЕ --> */
.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    column-gap: 30px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #757575;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover {
  color: #2196f3;
}
.contact__link:focus {
  color: #2196f3;
  outline: 1px solid #2196f3;
  border-radius: 2px;
}

.contact__icon {
  fill: currentColor;
}

.conteiner-mobile-menu {
  display: none;
}

.conteiner-mobile-menu--visible {
  display: none;
}
@media screen and (max-width: 769px) {
  .conteiner-mobile-menu--visible {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }
}

.mobile-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  max-width: 480px;
  min-height: 796px;
  background-color: #ffffff;
  margin-left: auto;
  padding: 48px 40px;
}

.button-cross {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  color: #000000;
  background-color: #fff;
  border: none;
  transition: color 250ms;
}
.button-cross:hover {
  color: #2196f3;
}

.button-cross__icon {
  position: absolute;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.mobile-menu__navigation {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
}
.mobile-menu__link--activ {
  color: #2196f3;
}
.mobile-menu__link--nonactiv {
  color: #212121;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
  outline: 1px solid silver;
  border-radius: 2px;
}

.mobile-menu__tel {
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-top: auto;
}
.mobile-menu__tel:hover, .mobile-menu__tel:focus {
  outline: 1px solid silver;
  border-radius: 2px;
}

.mobile-menu__email {
  font-weight: 500;
  font-size: 24px;
  color: #757575;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 64px;
}
.mobile-menu__email:hover, .mobile-menu__email:focus {
  color: #2196f3;
  outline: 1px solid silver;
  border-radius: 2px;
}

.mobile-menu__social-net-links {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__social-net-item:not(:first-child) {
  padding-left: 10px;
}
.mobile-menu__social-net-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-net-link {
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-position: 50% 50%;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg480.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url("../images/bg480@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg768.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url("../images/bg768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url("../images/bg1600@2x.jpg");
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 1.62;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1201px) {
  .hero__title {
    max-width: 696px;
    width: 696px;
    font-size: 44px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  background-color: #2196f3;
  border-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero__button--position {
  margin-left: auto;
  margin-right: auto;
}

.button.hero__button--position:active {
  transform: scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* МОДАЛЬНОЕ ОКНО И ФОРМА ЗАКАЗА */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
  padding-left: 15px;
  padding-right: 15px;
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* НЕПОСРЕДСТВЕННО ФОРМА ЗАКАЗА */
.oder-form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .oder-form {
    max-width: 450px;
    width: 100%;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), boder 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #2196f3;
}
.button-close:active {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
}

.button-close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.oder-form__caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.oder-form__label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.oder-form__icon-and-input {
  position: relative;
}

.oder-form__input {
  display: block;
  height: 40px;
  width: 100%;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
}
.oder-form__input:hover {
  border: 1px solid #2196f3;
}
.oder-form__input:focus-within {
  border: 1px solid #2196f3;
  outline: none;
}

.oder-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.oder-form__input:hover + .oder-form__icon,
.oder-form__input:focus-within + .oder-form__icon {
  fill: #2196f3;
}

.oder-form__textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.oder-form__textarea:hover {
  border: 1px solid #2196f3;
}
.oder-form__textarea:focus-within {
  border: 1px solid #2196f3;
  outline: none;
}

.oder-form__checkbox {
  appearance: none;
}

.oder-form__my-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.oder-form__checkbox:checked + .oder-form__my-checkbox {
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  border-color: #2196f3;
  background-origin: border-box;
  background-size: contain;
}

.oder-form__checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_oder-checkbox-label {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
}

.licence-link {
  color: #2196f3;
  text-decoration: underline;
}

.button.oder-form__button--position {
  margin-top: 30px;
  align-self: center;
}

/* СЕКЦИЯ ОТЛИЧИТЕЛЬНЫЕ ЧЕРТЫ  */
.spetial-feature {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .spetial-feature {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .spetial-feature {
    padding-bottom: 0px;
    padding-top: 94px;
  }
}

.spetial-feature__header {
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .spetial-feature__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .spetial-feature__list {
    flex-wrap: nowrap;
  }
}

.spetial-feature__item {
  min-width: 290px;
}
@media screen and (max-width: 767px) {
  .spetial-feature__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .spetial-feature__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .spetial-feature__item {
    min-width: 270px;
    width: 270px;
  }
}

.spetial-feature__wrapper {
  position: relative;
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.spetial-feature__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spetial-feature__caption {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .spetial-feature__caption {
    text-align: left;
  }
}

.spetial-feature__text {
  color: #757575;
  line-height: 1.7;
}

.service {
  display: none;
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 1201px) {
  .service {
    display: block;
  }
}

.service-header {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.service-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}

.service__item {
  position: relative;
}

.servise__img {
  display: block;
}

.service__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  line-height: 70px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* СЕКЦИЯ НАША КОМАНДА */
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__header {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .team__persons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__persons {
    flex-wrap: nowrap;
  }
}

.person {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .person:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .person {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .person {
    width: 270px;
  }
}

.person__img {
  width: 100%;
  object-fit: scale-down;
  object-position: center;
}

.person__cardcaption {
  padding: 30px 0 24px 0;
}

.person__name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.person__position {
  color: #757575;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.sotial-nets {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.sotial-net__link {
  display: block;
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sotial-net__link:hover {
  background-color: #2196f3;
  color: #ffffff;
  transition: S background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sotial-net__link:focus {
  background-color: #2196f3;
  color: #ffffff;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sotial-nets__icon,
.client__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

/* СЕКЦИЯ КЛИЕНТЫ */
.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1201px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-header {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
}

.client__item {
  width: calc(50% - 15px);
}
@media screen and (min-width: 769px) {
  .client__item {
    width: 226px;
  }
}
@media screen and (min-width: 1201px) {
  .client__item {
    width: 170px;
  }
}

.client__link {
  display: block;
  position: relative;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}
.client__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
  outline: none;
}

/* СЕКЦИЯ ПОДВАЛА */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .conteiner {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer .conteiner {
    text-align: left;
    vertical-align: top;
  }
}
@media screen and (min-width: 1200px) {
  .footer .conteiner {
    display: flex;
    justify-content: left;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__info {
    display: inline-block;
    margin-right: 165px;
    margin-left: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__info {
    text-align: left;
    margin-right: 0px;
    margin-left: 0px;
  }
}

.logo.logo--white {
  color: #ffffff;
}

.footer__address {
  display: block;
  margin-top: 20px;
  font-style: normal;
  color: #ffffff;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address:hover, .footer__address:focus {
  color: var(--blue-color);
}

.footer__mail {
  display: block;
  margin-top: 9px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail:hover, .footer__mail:focus {
  color: var(--blue-color);
}

.footer__tel {
  display: block;
  margin-top: 9px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__tel:hover, .footer__tel:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .join-us {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .join-us {
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }
}
@media screen and (min-width: 1200px) {
  .join-us {
    display: block;
    text-align: left;
    margin-left: 75px;
  }
}

.join-us__invaite-text {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.sotial-net__link--grey {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .signup_form {
    margin-top: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .signup_form {
    text-align: left;
    margin-left: 94px;
  }
}

.signup_form__header {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.signup_form__input {
  max-width: 450px;
  height: 50px;
  color: #ffffff;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  line-height: 20px;
  background-color: transparent;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .signup_form__input {
    width: 100%;
    display: block;
  }
}

.button--new-proprty {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-signup_form button:hover,
.new_oder-buttom:hover {
  cursor: pointer;
}

.footer-signup_form button:active,
.new_oder-buttom:active {
  transform: scale(0.9);
}

/* СЕКЦИЯ ПОРТФОЛИО (СТРАНИЦА ПОРТФОЛИО) */
.portfolio {
  border-top: 1px solid #ececec;
  padding-top: 100px;
  padding-bottom: 94px;
}

.portfolio_header {
  font-size: 0px;
}

.filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  column-gap: 8px;
  margin-bottom: 50px;
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button--grey {
  color: #212121;
  background-color: #f5f4fa;
}
.filter__button--blue {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .projects {
    justify-content: flex-start;
  }
}

.project__item {
  max-width: 450px;
  min-width: 290px;
  width: 100%;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .project__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    width: 370px;
  }
}

.project-img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.project-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 0.8);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover .project-overlay {
  transform: translateY(0px);
}

.project-overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__caption {
  padding: 20px 20px;
}

.project__head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  margin-bottom: 4px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  line-height: 2;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */