:root {
  --blue-color: #2196f3;
  --black-color: #000000;
  --dark-grey: #212121;
  --grey: #757575;
  --wite: #ffffff;
  --iight-grey: #f5f4fa;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  color: var(--dark-grey);
  font-size: 14px;
  letter-spacing: 0.03em;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
button {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Flex - contener */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* РАЗМЕТКА ШАПКИ */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  letter-spacing: 0.02em;
}
.conteiner--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*  start stilng logo  */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.logo--blue {
  color: var(--blue-color);
}
.logo--black {
  color: var(--black-color);
}
.logo:focus {
  outline: 1px solid var(--blue-color);
  border-radius: 2px;
}
/* end stiling logo */

/* <!-- ГЛАВНАЯ НАВИГАЦИЯ --> */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
  margin-left: 93px;
}
.navigation__item {
  position: relative;
}
.navigation__link {
  font-weight: 500;
  color: var(--dark-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link--activ {
  color: var(--blue-color);
}
.navigation__link.navigation-link--activ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  display: inline-block;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
}
.navigation__link.navigation-link--nonactiv::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  display: inline-block;
  height: 4px;
  transform-origin: left;
  background-color: var(--blue-color);
  border-radius: 2px;
  transform: scalex(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link.navigation-link--nonactiv:hover,
.contact__link:hover {
  color: var(--blue-color);
}
.navigation__link.navigation-link--nonactiv:focus,
.navigation__link.navigation-link--activ:focus,
.contact__link:focus {
  color: var(--blue-color);
  outline: 1px solid var(--blue-color);
  border-radius: 2px;
}
.navigation__link.navigation-link--nonactiv:hover::after,
.navigation__link.navigation-link--nonactiv:focus::after {
  transform: scalex(1);
}

/* <!-- БЛОК С КОНТАКТАМИ В ШАПКЕ --> */
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  margin-left: auto;
}
.contact__link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--grey);
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* СТИЛИ ХОВЕРА И ФОКУСА ЗДАНЫ В СТИЛЯХ ХОВЕРА И ФОКУСА НАВИГАЦИИ */
.contact__icon {
  fill: currentColor;
}

/* Style of СЕКЦИЯ ГЕРОЯ  */

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-position: 50% 50%;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg.png");
  background-repeat: no-repeat;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.36;
  color: var(--wite);
  text-align: center;
  letter-spacing: 0.06em;
}
.button {
  display: block;
  height: 50px;
  width: 200px;
  color: var(--wite);
  font-weight: 700;
  font-size: 16px;
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}
.hero__button--position {
  margin-left: auto;
  margin-right: auto;
}
.button.hero__button--position:active {
  transform: scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* МОДАЛЬНОЕ ОКНО И ФОРМА ЗАКАЗА */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* НЕПОСРЕДСТВЕННО ФОРМА ЗАКАЗА */

.oder-form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    boder 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}
.button-close:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #2196f3;
}
.button-close:active {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
}

.oder-form__caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}
.oder-form__label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.oder-form__icon-and-input {
  position: relative;
}

.oder-form__input {
  display: block;
  height: 40px;
  width: 100%;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
}
.oder-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.oder-form__input:hover,
.oder-form__textarea:hover,
.oder-form__input:focus-within,
.oder-form__textarea:focus-within {
  border: 1px solid #2196f3;
  outline: none;
}
.oder-form__input:hover + .oder-form__icon,
.oder-form__input:focus-within + .oder-form__icon {
  fill: #2196f3;
}

.oder-form__textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.oder-form__checkbox {
  appearance: none;
}

.oder-form__my-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.oder-form__checkbox:checked + .oder-form__my-checkbox {
  background-color: var(--blue-color);
  background-image: url(../images/icon-check.svg);
  border-color: var(--blue-color);
  background-origin: border-box;
  background-size: contain;
}
.oder-form__checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.new_oder-checkbox-label {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
}
.licence-link {
  color: var(--blue-color);
  text-decoration: underline;
}

.button.oder-form__button--position {
  margin-top: 30px;
  align-self: center;
}

/* СЕКЦИЯ ОТЛИЧИТЕЛЬНЫЕ ЧЕРТЫ  */
.spetial-feature {
  padding-top: 94px;
}

.spetial-feature__header {
  font-size: 0;
}

.spetial-feature__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}

.spetial-feature__wrapper {
  position: relative;
  height: 120px;
  min-width: 270px;
  background-color: var(--iight-grey);
  border-radius: 4px;
}

.spetial-feature__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spetial-feature__icon:last-child {
  --color1: #2196f3;
  --color2: #212121;
}
.spetial-feature__icon:last-child:hover {
  --color1: #212121;
  --color2: #2196f3;
}
.spetial-feature__caption {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--dark-grey);
  margin-bottom: 10px;
  margin-top: 30px;
}

.spetial-feature__text {
  color: var(--grey);
  line-height: 1.7;
}

/* СЕКЦИЯ УСЛУГИ  */

.service,
.team,
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.service-header,
.team h2,
.client h2 {
  font-weight: 700;
  font-size: 36px;
  color: var(--dark-grey);
  text-align: center;
  margin-bottom: 50px;
}
.service-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}
.service__item {
  position: relative;
}
.servise__img {
  display: block;
}
.service__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  line-height: 70px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite);
  background: rgba(47, 48, 58, 0.8);
}

/* СЕКЦИЯ НАША КОМАНДА */

.team {
  background-color: #f5f4fa;
}

.team__persons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}
.person {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.person__cardcaption {
  padding: 30px 0;
}
.person__name {
  color: var(--dark-grey);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.person__position {
  color: var(--grey);
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}
.sotial-nets {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.sotial-net__link {
  display: block;
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sotial-net__link:hover, .sotial-net__link:focus {
  background-color: var(--blue-color);
  color: var(--wite);
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sotial-nets__icon,
.client__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

/* СЕКЦИЯ КЛИЕНТЫ */
.client__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client__link {
  display: block;
  position: relative;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
  outline: none;
}

/* СЕКЦИЯ ПОДВАЛА */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .conteiner {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

.logo.logo--white {
  color: var(--wite);
}
.footer__address
{
  display: block;
  margin-top: 20px;
  font-style: normal;
  color: var(--wite);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail,
.footer__tel {
  display: block;
  margin-top: 9px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:hover,
.footer__address:focus,
.footer__mail:hover,
.footer__mail:focus,
.footer__tel:hover,
.footer__tel:focus {
  color: var(--blue-color);
}
.join-us {
  margin-left: 70px;
}
.join-us__invaite-text {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--wite);
  margin-bottom: 20px;
}
/* .footer-join-us .sotial-nets {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
} */

.sotial-net__link--grey{
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
/* .footer-join-us svg {
  fill: currentColor;
} */
.signup_form {
  margin-left: 95px;
}
.signup_form__header {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.signup_form__input{
  width: 358px;
  height: 50px;
  color: #fff;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  line-height: 20px;
  background-color: transparent;
}
.button--new-proprty{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-signup_form button:hover,
.new_oder-buttom:hover {
  cursor: pointer;
}
.footer-signup_form button:active,
.new_oder-buttom:active {
  transform: scale(0.9);
}

/* СЕКЦИЯ ПОРТФОЛИО (СТРАНИЦА ПОРТФОЛИО) */

.portfolio {
  border-top: 1px solid #ececec;
  padding-top: 100px;
  padding-bottom: 94px;
}
.portfolio_header {
  font-size: 0px;
}
.filter {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  column-gap: 8px;
  margin-bottom: 50px;
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button--grey {
  color: #212121;
  background-color: #f5f4fa;
}

.filter__button--blue {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--blue-color);
  color: var(--wite);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


.projects {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  /* margin: -15px;*/ /* раскоментировать если нужно ссоздать сетку по MDN*/

  gap: 30px; /* закоментировать если не любишь современные методы */
}
.project__item {
  width: 370px;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* margin: 15px; */ /* раскоментировать если нужно ссоздать сетку по MDN*/
}
.project-wrapper{
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 0.8);
  transform: translateY(300px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover .project-overlay {
  transform: translateY(0px);
}
.project-overlay__text{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__caption {
  padding: 20px 24px;
}
.project__head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  margin-bottom: 4px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  line-height: 2;
  letter-spacing: 0.03em;
}
